ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .Search{
    display: flex;
    margin-top: .3em;
    padding: .5em;
   margin-left: 20em;
   width: 30em;
   border-radius: 10px;
  }
  .Btn{
    padding: .7em;
    margin-left: 10em;
  }
  .b2{
    margin-left: 25em;
  }
  a{
    text-decoration: none;
  }

  .Book_container{
    display: block;
  }
  .e1{
    grid-row: 1/2;
    grid-column: 1/2;
  }
  button{
    padding: 1em;
    width: 20em;
    border-radius: 4em;
    float: right;
    margin-right: 20em;
    margin-top: -10em;
    background-color: black;
    color: white;
  }
  button:hover{
  
    color: rebeccapurple;
    cursor: pointer;
    font-size: .8em;
    
  }
  p:hover{
    cursor: text;
  }
  .auth{
    color: darkgoldenrod;
    margin-left: 8em;
    margin-top: -.5em;
  }
  .headerrr{
    margin-bottom: 2em;
  }
  img{
    border: 2px solid black;
    width: 200px;
    height: 200px;

    border-radius: 50%;

  }
  img:hover{
    width: 210px;
    height: 210px;
    border: 5px solid black;
  }
  

.Element{
    border: 2px solid black;
    border-top: 0px;
    border-radius: 1em;
    margin-top: 2em;
    margin-bottom: 2em;

}
